/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
    font-weight: 700;
    font-style: normal;
}

/* reset */
body,
h1,
h2,
h3,
p {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}

/* 내용 */
body {
    font-family: 'Pretendard-Regular', sans-serif;
}

.card {
    width: 288px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10);
    margin: 16px;
}

.img {
    display: flex;
    justify-content: space-between;
}

.id {
    font-family: 'Pretendard-Bold';
    font-size: 14px;
}

.profile {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    object-fit: cover;
}

.card header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 10px;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 288/288;
    object-fit: cover;
}

.content {
    font-family: 'Pretendard-Regular';
    font-size: 13px;
    padding: 5px 10px 16px 10px;
}

.ell1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ell2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.6;
    height: calc(1em * 2 * 1.6);
}
