body {
    font-size: 40px;
    font-weight:bold;
    text-align: center;
}

div {
    width: 380px;
    box-sizing: border-box;
}

p {
    padding: 40px 0;
}

.box1 {
    color: white;
    background: #343F50;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 0 #4a5568 inset;
    padding: 30px 0;
}

.box2 {
    color: white;
    border: 10px dashed #f4c8ff;
    border-radius: 100px 100px 100px 100px ;
    background: rgb(189,26,115);
    background: linear-gradient(90deg, rgba(189,26,115,1) 0%, rgba(8,0,116,1) 100%);
    background-clip: padding-box;
}

.box3 {
    color: black;
    border: 3px solid rgb(237, 237, 237);
    border-radius: 0 100px 100px 100px;
    background: white;
    box-shadow: 15px 15px 15px 3px rgb(228, 228, 228);
}