@keyframes ear-moving-left {
  to {
    height: 170px;
    top: -50px;
    transform: rotate(70deg);
  }
}
@keyframes ear-moving-right {
  to {
    height: 170px;
    top: -50px;
    transform: rotate(-70deg);
  }
}

.dog {
  display: inline-block;
  position: relative;
  width: 800px;
  height: 800px;
  left: 40%;
  top: 100px;
}

.face {
  width: 400px;
  height: 330px;
  border: 10px solid rgb(60 27 27);
  border-radius: 50%;
  position: absolute;
  z-index: 400;
}
.color {
  width: 400px;
  height: 330px;
  border-radius: 50%;
  position: absolute;
  border: 10px solid white;
  background-color: white;
  z-index: 200;
}
.dot {
  position: absolute;
  width: 230px;
  height: 200px;
  border-radius: 150% 0% 120% 10%;
  background-color: pink;
  z-index: 300;
}

.eye {
  width: 30px;
  height: 30px;
  background-color: rgb(60 27 27);
  border-radius: 50%;
  position: absolute;
}
.eye.left {
  top: 35%;
  left: 35%;
}
.eye.right {
  top: 35%;
  right: 35%;
}
.face .eye .bright {
  position: absolute;
  width: 5px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 200;
  top: -20px;
  top: 25%;
  right: 60%;
  transform: rotate(10deg);
}

.ear {
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 160px;
  border: 10px solid rgb(60 27 27);

  top: -30px;
  z-index: 500;
}
.ear.left {
  background-color: pink;
  border-radius: 50%;
  transform: rotate(55deg);
  animation: ear-moving-left 0.5s ease infinite alternate;
}
.ear.right {
  background-color: white;
  border-radius: 50%;
  transform: rotate(-55deg);
  right: 48%;
  animation: ear-moving-right 0.5s ease infinite alternate;
}

.mouth {
  position: absolute;
  top: 45%;
  left: 39%;
}

.dog .tongue {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: red;
  z-index: 200;
  border-radius: 120px 130px 150px 150px;
  top: 26%;
  left: 24.6%;
}
