/* reset */
body,
h1,
h2,
p,
ul,
button {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
input {
  font: inherit;
}
button {
  font: inherit;
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

body {
  background-color: #eae8fe;
  font-family: "Noto Sans KR";
}

.btn {
  display: block;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.logo img {
  display: block;
  margin: 0 auto;
}

main {
  display: grid;
  width: 748px;
  /* height: 545px; */
  gap: 20px;
  grid-template-areas:
    "section1 section2"
    "section1 section3";
  margin: 67px auto;
  /* grid-template-columns: repeat(2, 1fr); */
}

.section1 {
  padding: 31px 27px 24px 27px;
  display: flex;
  background-color: white;
  width: 360px;
  height: 545px;
  grid-area: section1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.section2 {
  background-color: white;
  width: 360px;
  height: 50px;
  grid-area: section2;
}

.section3 {
  background-color: white;
  width: 360px;
  height: 474px;
  grid-area: section3;
}

.section2 div {
  background-color: #eae8fe;
  width: 306px;
  height: 32px;
  margin: 9px 27px;
  border-radius: 7px;
}

.drink-list {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.drink-list .on {
  border: 3px solid #6327fe;
  box-sizing: border-box;
}
.drink-list img {
  width: 35px;
  height: 65px;
}

.drink-list span {
  font-size: 9px;
  font-weight: 500;
}

.drink-list strong {
  display: flex;
  background-color: #6327fe;
  width: 70px;
  height: 22px;
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  /* line-height: 100%; */
}

.drink-list li {
  background-color: #fff;
  display: flex;
  width: 94px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.bg-box p {
  font-weight: 700;
}
.bg-box {
  background-color: #eae8fe;
  border-radius: 5px;
  padding: 6px 10px;

  font-size: 14px;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 200px;
  height: 33px;
  box-sizing: border-box;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 17px 12px;
  margin-top: 20px;
  border-radius: 5px;
}

#input-money {
  border: 1px solid #bdbdbd;
  height: 32px;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px;
}
#input-money::placeholder {
  color: #bdbdbd;
  font-size: 13px;
}

.btn {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  width: 94px;
  height: 33px;
  font-size: 13px;
  font-weight: 500;
}

.btn-get {
  color: white;
  font-size: 13px;
  font-weight: 700;
  border-radius: 5px;

  background: #6327fe;
  width: 94px;
  height: 106px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.choose-list {
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.choose-list li {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 134px;
}

.choose-list img {
  width: 18px;
  height: 33px;
}

.choose-list span {
  font-size: 9px;
  color: #333;
}

.choose-list strong {
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.button-group {
  display: grid;
  grid-template-columns: auto calc((100% - (12px * 2)) / 3);
  grid-template-rows: 33px 33px 106px;
  gap: 12px;
  margin-top: 20px;
}
