@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body,
h1,
h2,
h3,
div,
p,
ul,
li,
section,
header,
main {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}
img {
  vertical-align: top;
}
button,
input,
a,
p,
label {
  font: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
}
button:enabled {
  cursor: pointer;
}
input {
  outline: none;
}
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular';
}

.wrap {
  width: 520px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding-bottom: 15px;
}

header {
  position: relative;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
}
header .title {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 16px;
  height: 58px;

  font-weight: 500;
  line-height: 24px;

  display: flex;
  align-items: center;
  margin: auto;
}

button.close {
  background: url(../img/close.svg) no-repeat center;
  width: 16px;
  height: 16px;
  padding: 20px;

  position: absolute;
  right: 0;
  box-sizing: content-box;
}

.form {
  padding: 26px 22px 0 22px;
  box-sizing: border-box;
}

.text {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 24px;

  display: flex;
  flex-wrap: wrap;
}

.inp-group input {
  color: #767676;
  display: block;
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 5px;

  padding: 15px 16px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form input:focus {
  border: 2px solid #f4492e;
  margin: 0;
}
.inp-group input:focus + label {
  display: inline-block;
  color: #f4492e;
  font-size: 14px;
  margin: 6px 0 10px 4px;
  opacity: 1;
}
label.focus-id,
label.focus-pw {
  display: none;
}

.form .checkbox {
  margin-top: 16px;
  margin-bottom: 20px;
}
.checkbox label {
  color: #767676;
  /* position: relative; */
  font-size: 16px;
  font-weight: 500;
  display: flex;
}
.labl-hold::before {
  content: '';
  background: url(../img/check-box.svg);
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: -5px;
  margin-right: 8px;
}
.inp-hold:checked + .labl-hold::before {
  background: url(../img/check-box-2.svg);
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: -5px;
  margin-right: 8px;
}
input[type='checkbox'] + label {
  cursor: pointer;
}

.btn-login button {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  width: 472px;
  padding: 14px;
  background-color: #2f80ed;
  border-radius: 5px;
}
.btn-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form ul {
  color: #767676;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 20px 0 38px 0;
}
.join::after {
  content: '|';
  margin: 0 12px;
}

.social-group {
  padding: 0 24px;
}
.social-group hr {
  border: none;
  border-top: 1px solid #c4c4c4;
  overflow: visible;
  text-align: center;
}
hr::after {
  content: '또는';
  color: #767676;
  font-size: 14px;
  position: relative;
  background-color: white;
  padding: 0 13px;
  top: -12px;
}
.social-group button {
  color: #767676;
  font-weight: 500;
  width: 472px;
  background-color: #fff;
  border: 1px solid #767676;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}
.social-group li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group .facebook {
  border: 1px solid #2d9cdb;
}
.social-group .naver {
  border: 1px solid #00bf18;
}
.social-group .facebook {
  border: 1px solid #2d9cdb;
}
.social-group .kakaotalk {
  border: 1px solid #f2c94c;
}

.social-group .icon::before {
  content: '';
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  background: url(../img/icon_sprites.png);
  /* 이미지 압축 (1/2) */
  background-size: 116px 83px;
  margin-left: 9px;
}

.social-group .google::before {
  width: 22px;
  height: 22px;
  background-position: -52px -10px;
  /* background: url('images_login/icon_google.png') no-repeat; */
}
.social-group .facebook::before {
  height: 24px;
  width: 16px;
  background-position: -90px -9px;
  /* background: url("images_login/icon_facebook.png") center no-repeat; */
}
.social-group .naver::before {
  width: 22px;
  height: 22px;
  background-position: -10px -10px;
  /* background: url("images_login/icon_naver.png") no-repeat; */
}
.social-group .kakaotalk::before {
  width: 22px;
  height: 22px;
  background-position: -10px -52px;
  /* background: url("images_login/icon_kakao.png") no-repeat; */
}
